body {
	padding: 0px;
	margin: 0px;
	background-image: url("../images/background.png");
}

#login-page-content {
	width: 300px;
	heigth: 100px;
	margin-left: 200px;
	padding-top: 200px;
}

#news-fulltext {
	margin-left: 40px;
	margin-right: 40px;
	float: left;
	word-break: break-all;
}

#comment-block {
	width: 500px;
	margin: 40px;
}

#comment-content {
	background-color: #A8A8A8;
}

.delete-comment-button {
	width: 15px;
	height: 15px;
	background-image: url("../images/delete-button-image.png");
	background-size: 11px;
}

#paging {
	width: 40%;
	margin: 0 auto;
}

#news-comments {
	border: 1px solid yellow;
}

#add-comment-box {
	float: left;
	width: 250px;
	height: 70px;
	margin-left: 40px;
	padding-top: 30px;
}

.hidden {
	visibility: hidden;
}

.unhidden {
	visibility: visible;
}

#tag-manage-content {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
}

#manage-authors-content {
	width: 400px;
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
	display: table;
}

#add-news-content {
	display: table;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
}

.hidden {
	visibility: hidden;
}

.unhidden {
	visibility: visible;
}

.authorselect {
	background-color: #909090;
}

.tagselect {
	background-color: #909090;
}

.findbutton {
	background-color: #909090;
	border-width: 1px;
	height: 25px;
}

.resetbutton {
	background-color: #909090;
	border-width: 1px;
	height: 25px;
}

.logoutbutton {
	background-color: #909090;
	border-width: 1px;
}

#pagingControls ul {
	display: inline;
	padding-left: 0.5em
}

#pagingControls li {
	display: inline;
	padding: 0 0.5em
}

#pagingControls {
	padding-top: 20px;
	width: 200px;
	height: 30px;
	margin: auto;
}

.deletebutton {
	width: 120px;
	height: 60px;
	background-color: #909090;
	border-width: 1px;
}

#delete {
	width: 100px;
	height: 70px;
	padding-top: 20px;
	padding-right: 30px;
	float: right;
}

.search {
	width: 600px;
	height: 30px;
	padding-top: 10px;
	margin: auto;
}

.news {
	padding-top: 10px;
	width: 800px;
	height: 200px;
}

.newstitledec {
	color: #CC6666;
}

.tagsdec {
	color: #CCFFCC;
	text-decoration: underline;
	font-style: italic;
}

.commentsdec {
	color: #FF0000;
	font-style: italic;
	font-size: 17px;
}

.li {
	float: left;
	margin-left: 50px;
}

#tags {
	width: 250px;
}

#comments {
	width: 150px;
}

#info-news {
	width: 700px;
	float: right;
	height: 50px;
	margin-right: 50px;
}

#news-shorttext {
	margin-left: 50px;
	width: 700px;
	height: 50px;
	float: left;
}

div#news-title {
	margin-left: 50px;
}

#news-title {
	width: 450px;
	float: left;
	word-break: break-all;
	height: 50px;
}

#news-date {
	padding-left: 10px;
	width: 80px;
	float: left;
	word-break: break-all;
	height: 50px;
	text-decoration: underline;
}

#news-author {
	padding-left: 15px;
	width: 150px;
	float: left;
	word-break: break-all;
	height: 50px;
}

h4 .btn-group {
	display: inline-block;
	float: right;
	margin-left: 10px;
	margin-right: 10px;
}

h4 {
	float: right;
}

#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	height: 80px;
	background-image: url("../images/header.jpg");
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#header-info {
	float: left;
	margin-left: 10px;
	color: #333399;
}

#content {
	padding: 0px;
	margin-left: 200px;
	margin-right: 0px;
	height: 100%;
}

div#content {
	min-height: 600px;
}

ul {
	list-style-type: none;
}

#left-menu {
	float: left;
	width: 200px;
	margin: 0px;
	padding: 0px;
	height: 90%;
	background-color: #58FA82;
}

#footer {
	clear: both;
	height: 50px;
	margin: 0px;
	padding: 0px;
}

div#footer p {
	text-align: center;
}